{% extends "base.html" %}

{%block title%} - Submit your Recipe {% endblock %}

{%block content%}
<div class="text-center">
  Submit your Recipe
</div>

<br>

<form method="post" name="Form" onsubmit="return validateForm()" action="">
  <div class="col-xs-12">
    <div class="col-xs-6">
      <div class="col-xs-12">
        <label for="name">Recipe Title</label><br>
        <input id='name' name='name'>
      </div>

      <div class="col-xs-12">
        <label for="subheader">Recipe Subheader</label><br>
        <input id='subheader' name='subheader'>
      </div>

      <div class="col-xs-12">
        <label for="story">Describe your dish</label><br>
        <input id='story' name='story'>
      </div>

      <div class="col-xs-12">
        <div>
          <label>Ingredients</label>
        </div>

        <div class="col-xs-6">
          <label for="amount">Amount</label><br>
          <input id='amount' name='amount'>
        </div>
        <div class="col-xs-6">
          <label for="ingredient">Ingredient</label><br>
          <input id='ingredient' name='ingredient'>
        </div>
      </div>

      <div class="col-xs-12">
        <label for="steps">Instructions</label><br>
        <input id='steps' name='steps'>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="col-xs-12">
        <label for="cover_photo">Cover Photo</label><br>
        <input id='cover_photo' name='cover_photo'>
      </div>

      <div class="col-xs-12">
        <label for="video_link">Embed YouTube Video</label><br>
        <input id='video_link' name='video_link'>
      </div>

      <div class="col-xs-12">
        <div>
          <label>Categories</label>
        </div>

        <div class="col-xs-12">
          <div class="col-xs-6">
            <label for="method">Cooking Method</label><br>
            <input id='method' name='method'>
          </div>
          <div class="col-xs-6">
            <label for="origin">Origin of the Dish</label><br>
            <input id='origin' name='origin'>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="col-xs-6">
            <label for="difficulty">Difficulty of recipe</label><br>
            <input id='difficulty' name='difficulty'>
          </div>
          <div class="col-xs-6">
            <label for="preptime">Total Time (in minutes)</label><br>
            <input id='preptime' name='preptime'>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="col-xs-6">
            <label for="serving">Serves</label><br>
            <input id='serving' name='serving'>
          </div>
        </div>

      </div>


      <div class="col-xs-12">
        <label for="tags">Additional Tags</label><br>
        <input id='tags' name='tags'>
      </div>

      <div class="col-xs-12 text-center">
        <br>I Agree to the Terms and Conditions.<br>

        <button>Submit</button>
        <button>Draft</button>
      </div>
    </div>
  </div>

</form>
{% endblock %}
